@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f5fb;
  height: 100vh;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
}

h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

span {
  font-size: 12px;
  color: #787979;
}
